<h3>Available Entropy</h3>
<p><small>If it falls under 100 for more than a few seconds, then you have a problem.</small></p>
<img src="/ngstatus/img/entropy_avail-day.png"/>
<img src="/ngstatus/img/entropy_avail-week.png"/>
<img src="/ngstatus/img/entropy_avail-month.png"/>
<img src="/ngstatus/img/entropy_avail-year.png"/>

