<h3>Load Average</h3>
<img src="/ngstatus/img/loadavg-day.png"/>
<img src="/ngstatus/img/loadavg-week.png"/>
<img src="/ngstatus/img/loadavg-month.png"/>
<img src="/ngstatus/img/loadavg-year.png"/>
<h3>Running Processes</h3>
<img src="/ngstatus/img/procs-day.png"/>
<img src="/ngstatus/img/procs-week.png"/>
<img src="/ngstatus/img/procs-month.png"/>
<img src="/ngstatus/img/procs-year.png"/>

