<h3>Memory Usage</h3>
<img src="/ngstatus/img/memusage-day.png"/>
<img src="/ngstatus/img/memusage-week.png"/>
<img src="/ngstatus/img/memusage-month.png"/>
<img src="/ngstatus/img/memusage-year.png"/>

