<h3>Memory Usage</h3>
<img src="/ngstatus/img/memusage-day.png" width="797" height="251"/>
<img src="/ngstatus/img/memusage-week.png" width="797" height="251"/>
<img src="/ngstatus/img/memusage-month.png" width="797" height="251"/>
<img src="/ngstatus/img/memusage-year.png" width="797" height="251"/>

