<h3>Requests</h3>
<img src="/ngstatus/img/requests-day.png"/>
<img src="/ngstatus/img/requests-week.png"/>
<img src="/ngstatus/img/requests-month.png"/>
<img src="/ngstatus/img/requests-year.png"/>
<h3>Connections</h3>
<img src="/ngstatus/img/connections-day.png"/>
<img src="/ngstatus/img/connections-week.png"/>
<img src="/ngstatus/img/connections-month.png"/>
<img src="/ngstatus/img/connections-year.png"/>

