<h3>Nginx Requests</h3>
<img src="/ngstatus/img/ngrequests-day.png"/>
<img src="/ngstatus/img/ngrequests-week.png"/>
<img src="/ngstatus/img/ngrequests-month.png"/>
<img src="/ngstatus/img/ngrequests-year.png"/>
<h3>Nginx Connections</h3>
<img src="/ngstatus/img/ngconnections-day.png"/>
<img src="/ngstatus/img/ngconnections-week.png"/>
<img src="/ngstatus/img/ngconnections-month.png"/>
<img src="/ngstatus/img/ngconnections-year.png"/>

