<h3>Uptime</h3>
<img src="/ngstatus/img/uptime-day.png" width="797" height="223"/>
<img src="/ngstatus/img/uptime-week.png" width="797" height="223"/>
<img src="/ngstatus/img/uptime-month.png" width="797" height="223"/>
<img src="/ngstatus/img/uptime-year.png" width="797" height="223"/>

